:root {
    --primary-color:#21130d;
    --secondary-color:#236b8e;
    --tiertary-color:#f0f8ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header/nav section */
body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-image: url(../my-portfolio/images/code.jpeg);
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color:var(--tiertary-color);
    margin: 0;
    text-shadow: 0 0 10px;
}

header a {
    text-decoration: none;
    color: var(--tiertary-color);
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

header nav {
    margin: 6px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    font-weight: bold;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px;
}

header nav ul li a:hover {
    background: var(--tiertary-color);
    color: var(--primary-color);
    border-radius: 25px;
    text-shadow: 0 0 30px;
}

/* header nav section ends */

/* about me section */
.me {
    background-color: var(--tiertary-color);
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    
}
h2 {
    text-shadow: 0 0 20px;
    padding: 20px 0;
    font-size: 40px;
    color: var(--secondary-color);
}
p {
    line-height: 1.5;
    color: var(--tertiary-color);
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.myself img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display:inline-block;
    flex-wrap: wrap;
}

/* about me ends */
/* my work section */

main {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--secondary-color);
}

main h2 {
    color: var(--tiertary-color);
    padding: 0 10px 20px;
    font-size: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#run-buddy {
    background-image: url(./images/run-buddy.png);
}

#coming-soon {
    background-image: url(./images/coming-soon.jpeg);
}


.flex-item {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 8px solid var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 40px;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    min-height: 250px;
}

.flex-item:hover { 
    opacity: .5;
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.flex-items:hover {
    opacity: .5;
    border-radius: 15px;
    text-shadow: none;
}

.flex-item a:link {
    color: var(--tiertary-color);
}

/* my work section ends */

/*footer section */


footer {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../my-portfolio/images/code.jpeg);
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
}

footer h4 {
    font-weight: bold;
    font-size: 30px;
    color:var(--tiertary-color);
    margin: 0;
    text-shadow: 0 0 10px;
}

footer a {
    text-decoration: none;
    color: var(--tiertary-color);
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    font-weight: bold;
}

footer ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px;
}

footer li {
    font-weight: bold;
    font-size: 25px;
    color: var(--tiertary-color);
    text-shadow: 0 0 10px;
}

footer ul li a:hover {
    background: var(--tiertary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: 0 0 30px;
}
/* footer section ends */

/* media query section */

@media screen and (max-width: 1024px) {

    header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

    header h1 {
    width: 100%;
    text-align: center;
}

    header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

    header nav ul li a {
    font-size: 20px;
}

    footer {
        font-size: 30px;
    }

    footer ul {
    margin-top: auto;
    width: 100%;
    justify-content: left;
    }

    footer ul li {
        font-size: 20px;
    }

    .flex-item {
        width: auto;
    }

    .flex-items {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    footer ul li a {
        font-size: 15px;
    }

    .flex-item {
        width: auto;

    }

    .flex-items {
        width: auto;
    }
}

@media screen and (max-width: 575px) {
    footer h4 {
        font-size: 16px;
    }
  
    footer ul li a {
        font-size: 10px;
    }

    footer ul li {
        font-size: 10px;
    }

    footer li {
        font-size: 10px;
    }
}